/* Standard style */
  html, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  *:before, *:after {
    box-sizing: inherit;
  }
  
  body {
    background: lightblue;
    font-family: 'Open Sans', sans-serif;
  }
  
  h1, h2 {
    font-family: 'Caveat', cursive;
    font-weight: 400;
    font-size: 2rem;
  }
  
  a {
      color: #EF233C;
  }
  
  .content-wrap {
    margin: 0 auto;
    padding: 50px;
    overflow: hidden;
    max-width: 950px;
  }
  
  .column-narrow {
    width: 35%;
    float: left;
    padding-right: 3%;
  }
  
  .column-wide {
    width: 62%;
    float: left;
    min-height: 180px;
  }
  /* Header */
  header, footer {
    background: #2B2D42;
    color: #8D99AE;
  }
  
  .avatar {
    border-radius: 50%;
  }
  
  header h1,
  header h2 {
      color: #EDF2F4;
      margin: 0;
  }
  
  /* Footer */
  footer {
    text-align: center;
  }
  
  .content-wrap {
    margin: 0 auto;
  }
  
  .contact-info a {
    color: red;
    margin-left: 10px;
  }
  /* Work Experience */
  .work-experience {
    background-color: #EDF2F4;
  }
  
  /* Education */
  .education {
    background-color: #8D99AE;
  }
  